<%= form_with(model: [:dashboard, subscribe_server], class: "flex flex-col gap-4") do |form| %>
  <% if subscribe_server.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(subscribe_server.errors.count, "error") %> prohibited this subscribe_server from being saved:</h2>

      <ul>
        <% subscribe_server.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col gap-2">
    <%= form.label :domain %>
    <%= form.text_field :domain, readonly: true %>
  </div>

  <div class="flex flex-col gap-2">
    <%= form.label :inbox_url %>
    <%= form.text_field :inbox_url, readonly: true %>
  </div>

  <div class="flex flex-col gap-2">
    <%= form.label :delivery_suspend %>
    <%= form.checkbox :delivery_suspend %>
  </div>

  <div class="flex flex-col gap-2">
    <%= form.label :domain_block %>
    <%= form.checkbox :domain_block %>
  </div>

  <div>
    <%= form.submit "Update", class: "border-solid border-2 border-slate-950 bg-cyan-400 text-white p-3" %>
  </div>
<% end %>
