<div id="<%= dom_id subscribe_server %>" class="flex flex-col gap-3">
  <div>
    <h3>Domain</h3>
    <p class="underline">
      <%= subscribe_server.domain %>
    </p>
  </div>

  <div>
    <h3>Inbox URL</h3>
    <p class="underline">
      <%= subscribe_server.inbox_url %>
    </p>
  </div>

  <div>
    <h3>Delivery Suspend</h3>
    <p class="underline">
      <%= subscribe_server.delivery_suspend %>
    </p>
  </div>

  <div>
    <h3>Domain Block</h3>
    <p class="underline">
      <%= subscribe_server.domain_block %>
    </p>
  </div>
</div>
