<div class="container mx-auto mt-28 px-5 flex justify-center">
  <div class="flex flex-col gap-3">
    <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

    <%= form_with url: password_path(params[:token]), method: :put, class: "flex flex-col gap-1" do |form| %>
      <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Enter new password", maxlength: 72 %><br>
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Repeat new password", maxlength: 72 %><br>
      <%= form.submit "Save" %>
    <% end %>
  </div>
</div>
