<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Activity Pub Relay" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if request.path.match?(/dashboard/) %>
      <div class="flex divide-x divide-neutral-950 h-screen">
        <div class="flex flex-col gap-3 p-4 w-1/6">
          <%= link_to "Subscribe Servers", dashboard_subscribe_servers_path, class: "text-2xl underline" %>
          <%= link_to "Job Dashboard", "/jobs", class: "text-2xl underline" %>
        </div>
        <div class="w-5/6 p-4">
          <div class="container p-4">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
